<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ClothingApp || Add new</title>

  <link href="/css/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/eb3781172a.js" crossorigin="anonymous"></script>

</head>

<body>
<nav>
  <div class="wrapper nav">
    <div class="navbar">
      <div class="logo"><a href="/">ClothingApp</a></div>
      <ul class="links">
        <li><a class="nav_btn" href="/dashboard">Home</a></li>
        <li><a class="nav_btn" href="/clothing">Clothing</a></li>
        <li class="action_btn logout_btn"><a href="/logout">Logout</a></li>
      </ul>
      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <div class="dropdown_menu">
      <li><a href="/dashboard">HOME</a></li>
      <li><a href="/clothing">CLOTHING</a></li>
      <li class="action_btn dash-btn logout_btn"><a href="/logout">Logout</a></li>
    </div>
  </div>
</nav>


<main class="clothing-view">
  <div class="wrapper">
    <div class="clothing-header">
      <h1 class="clothing-title">Add New Clothing Items</h1>
    </div>
    <div class="clothes-items">
      <div class="warderobe">
        <div class="box-add">
  <div class="clothes-info">
    <form th:object="${item}" th:action="@{/clothing/add}" method="post" enctype="multipart/form-data">
      <div class="form-group add-form">
        <label class="title-add">Name:</label><br>
        <input type="text" th:field="*{name}" class="form-add">
      </div>
      <div class="form-group add-form">
        <label class="title-add">Category:</label>
        <select th:field="*{category}" class="form-add">
          <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">Category</option>
        </select>
      </div>
      <div class="form-group add-form">
        <label class="title-add">Description:</label>
        <textarea th:field="*{description}" class="form-area"></textarea>
      </div>
      <div class="form-image add-image">
        <label class="title-add">Image:</label>
        <div class="custom-file-upload">
          <input type="file" id="file" name="imageFile" class="form-add hidden">
          <label for="file" class="file-upload-label">Select file</label>
          <br><br><br>
          <span class="file-desc" id="file-name">File not selected</span>
        </div>
      </div>
      <div>
        <input type="submit" value="SUBMIT" class="btn-add button-sumbit">
      </div>
    </form>

  </div>
  </div>
      </div>
      <div class="added">
        <a href="/clothing" class="btn-back">Back</a>
      </div>

      <div class="space"></div>
    </div>
  </div>
</main>

<div class="cookie-box">
  <p>This site uses cookies to provide the highest level of service. Your continued use of the site means that you agree to their use.</p>
  <button class="cookie-btn">Accept</button>
</div>
<footer class="footer">
  <p class="footer-text">&copy;<span class="footer__year"></span> ClothesApp</p>
</footer>

<script src="/js/main.js"></script>
</body>

</html>